{% extends 'betreiber/layout.html' %}

{% block script %}

{% endblock %}


{% block content %}
    <div><h1>Mandantenliste:</h1></div>
    <div class="py-2">
        <a class="btn btn-primary" href="{% url 'betreiber:create_mandant' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <use xlink:href="#bi-plus-square-fill" />
            </svg>
            Neuer Mandant</a>
    </div>

    <div>
    {% if mandanten %}
        <table class="table table-hover align-middle">
            <tr>
                <th>Editieren</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Adminnutzer</th>
                <th>Benutzer #</th>
                <th>Bücher #</th>
                <th>Löschen</th>
            </tr>

            {% for mandant in mandanten %}
                <tr>
                    <td><a href="{% url 'betreiber:edit_mandant' mandant.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <use xlink:href="#bi-pencil" />
                        </svg>
                    </a></td>
                    <td>{{mandant.name}}</td>
                    <td>{{mandant.adresse}}</td>
                    <td>{{mandant.manager.username}}</td>
                    <td>{{mandant.user_count}}</td>
                    <td>{{mandant.book_count}}</td>
                    <td><a href="{% url 'betreiber:delete_mandant' mandant.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <use xlink:href="#bi-trash" />
                        </svg>
                    </a></td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <p>Es wurden noch keine Mandanten registriert.</p>
    {% endif %}
    <div class="row justify-content-start">
        <div class="col-2 text-start">
            <a class="btn btn-secondary " href="{% url 'betreiber:index'%}">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                <use xlink:href="#bi-reply-fill" />
            </svg>Zurück</a>
        </div>
    </div>
    </div>
    
{% endblock content %}