{% extends 'betreiber/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'betreiber/keygen.js' %}"></script>
{% endblock %}


{% block content %}
    <div><h1>Aktivierungscodes</h1></div>

    <div><h3>Ausgewähltes Buch: {{buch}}</h3></div>

    <div id='app'>
        Wieviele Codes für dieses Buch sollen generiert werden?
        
        {% csrf_token %}
        {{form.as_p}}
        <button id='btnKeygen'>Erstellen und Exportieren</button>
        

    </div>
{% endblock content %}