{% extends 'betreiber/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'betreiber/keygen.js' %}"></script>
{% endblock %}


{% block content %}
    <div><h1>Aktivierungscodes</h1></div>

    <div><h3>Ausgewähltes Buch: {{buch}}</h3></div>
    <div class="d-flex">
        <div class="p-2 flex-grow-1 "></div>
        <div class="p-2 container-md" id='app'>

            
                Wieviele Codes für dieses Buch sollen generiert werden?
                
                {% csrf_token %}
                {% for field in form.visible_fields %}
            <div class="form-floating p-1">
              {{ field }}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            {% endfor %}
                
                
                <button id='btnKeygen'>Erstellen und Exportieren</button>
        

            </div>
            <div class="p-2 flex-grow-1"></div>
        </div>
{% endblock content %}