{% extends 'betreiber/layout.html' %}
{% load static %}

{% block script %}

{% endblock %}


{% block content %}
    <div><h1>Metadaten editieren</h1></div>

    

    <div class="d-flex flex-wrap">
        <div class="p-2 flex-grow-1 ">
          <div class="card align-items-center p-2" style="width: 18rem; border: 2; ">
     
            <img src="{% static buch.thumbnail %}" alt="Aktuelles Thumbnail" width=250>
            <div class="card-body">
            <p class="card-text">{{ buch.title}}</p>
            </div>
            
          </div>

        </div>
        <div class="p-2 container-md">

        <form action="" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating p-1">
            {{ form.title }}
                      <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    </div>
                    <div class="p-1">
                        <label for="{{ form.author.id_for_label }}">{{ form.author.label }}</label>
                    
                    
                        {{ form.author}}
                    </div>
                    <div class="row"><div class="col-md">
                    <div class="form-floating p-1">
                        {{ form.age }}
                        <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
                    </div>
                    </div></div>
                    <div class="form-floating p-1">
                        {{ form.file }}
                        <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
                    </div>
                    
        
        
                <div class="p-1">
                    <button class="btn btn-success " type=submit>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-square" width="22" height="22" viewBox="0 0 16 16">
                        <use xlink:href="#bi-check-square" />
                      </svg>Speichern</button>
                      <button class="btn btn-warning " type=reset >
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                          <use xlink:href="#bi-arrow-counterclockwise" />
                        </svg> Zurücksetzen   </button>                 
                    <a class="btn btn-secondary " href="{% url 'betreiber:buchliste'%}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <use xlink:href="#bi-reply-fill" />
                      </svg>Zurück</a>
                  </div> 

        </form>
    </div>
    <div class="p-2 flex-grow-1"></div>
</div>
    
{% endblock content %}