{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/library.js' %}"></script>

{% endblock %}


{% block content %}
    <div>
        <h1>Bibliothek:</h1>
        <h4>Filtern:</h4>
    </div>

    <div class="row align-items-center m-1 p-1 border rounded-2 bg-light">
        
        <div class='col-md-2 col-6'>
            <div class="form-floating my-1">
                <input type="number" name="min_age" id="min_age" class="form-control " placeholder="1">
                <label for="min_age">Alter von</label>
            </div>
        </div>
        <div class='col-md-2 col-6'>
            <div class="form-floating my-1">
                <input type="number" name="min_age" id="max_age" class="form-control" placeholder="1">
                <label for="max_age">bis</label>
            </div>          
        </div>
        <div class='col-md-3 col-6'>
            <div class="form-floating my-1">        
            <select class="form-select" name='language' id='language'>
                <option value="">--Alle Bücher--</option>
                {% for sprache in sprachen %}
                    <option value='{{sprache.id}}'>{{sprache}}</option>
                {% endfor %}
            </select>
            <label for="language">Sprachaufnahmen in:</label>
            </div>
        </div>
        <!-- <div class='col-md-1'></div> -->
        <div class='col-md-3 col-6'>
            <div class="form-floating my-1">
                <input type="text" class="form-control" id="search" name="seach" placeholder="name@example.com">
                <label for="search">Suche</label>
            </div>
        </div>
    </div>

    <div id='library' class='m-4 d-flex flex-wrap align-items-end'></div>
    <div id="recordMic" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
            <use xlink:href="#bi-mic-fill" />
        </svg>
    </div>
    
    
{% endblock content %}