{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/library.js' %}"></script>

{% endblock %}


{% block content %}
    <div><h1>Bibliothek:</h1></div>

    <div id='library' class='row'></div>

    {% if buecher %}
        <ul>
        {% for buch in buecher %}
            <li><img src="{% static buch.thumbnail %}" alt="" width=100>{{buch}} ({{buch.id}})</li>
        {% endfor %}
        </ul>
        
    {% endif %}
    
    
{% endblock content %}