{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <style>         
        .flag {
            border: solid 1px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/seite_abspielen.js' %}"></script>
{% endblock %}

{% block navFlagIcon %}
    <a href="{% url 'endnutzer:buch_abspielen' seite.book.id %}">
        <img src="{% static aufnahme.language.flag %}" alt="Flagge für {{ aufnahme.language }}" width=60 class='flag'>
    </a>
{% endblock %}


{% block content %}
    <div><h1>Abspielen von {{seite.book.title}} Seite {{seite.seitenzahl}}:</h1></div>

    <!-- Test Comment -->

 
    <div class="d-flex">
        <div class="align-self-center">
            {% if seite.seitenzahl > 1 %}
                <a class="btn btn-primary" href="{% url 'endnutzer:seite_abspielen' seite.book.id aufnahme.language.id aufnahme.recorded_by.id  seite.seitenzahl|add:'-1' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="2 2 12 12">
                    <use xlink:href="#bi-backward-fill"  />
                </svg>
                </a>
            {% endif %}
        </div>
        <div class="flex-grow-1 d-flex justify-content-center py-1">
            <img src="{% static seite.picture %}" alt="Bild fuer Seite {{seite.seitenzahl}}" class="img-fluid" style="object-fit: contain; max-height: calc(100vh - 12rem); width: auto; height: auto;" />
        </div>
        <div class="align-self-center">
            {% if seite.seitenzahl < seite.book.seiten.count %}
                <a class="btn btn-primary" href="{% url 'endnutzer:seite_abspielen' seite.book.id aufnahme.language.id aufnahme.recorded_by.id seite.seitenzahl|add:'1' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="2 2 12 12">
                        <use xlink:href="#bi-forward-fill" />
                    </svg>
                </a>
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <button class="btn btn-outline-dark" id='btnPlay'>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                    <use xlink:href="#bi-play-circle-fill" />
                </svg>
            </button>
            <audio id='audio' src='{% static aufnahme.audio %}'>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock content %}