{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/seite_aufnehmen.js' %}"></script>
    <style>         
        .flag {
            border: solid 1px;
        }

        .recordedPage {
            color: green;
            border: green 2px solid;
        }

        .unrecordedPage {
            color: red;
            border: red 2px solid;
        }

    </style>
{% endblock %}

{% block navFlagIcon %}
    
    <img src="{% static sprache.flag %}" alt="Flagge für {{ sprache }}" width=60 class='flag'>
    
{% endblock %}


{% block content %}

    <div><h1>Aufnahme für {{buch.title}} Seite {{seite.seitenzahl}}:</h1></div>

    <!-- Test Comment -->
    <div class="row">
        <div class="col-1 align-self-center">
            {% if seite.seitenzahl > 1 %}
                <a class="btn btn-primary" href="{% url 'endnutzer:seite_aufnehmen' buch.id seite.seitenzahl|add:'-1' sprache.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="2 2 12 12">
                    <use xlink:href="#bi-backward-fill"  />
                </svg>
                </a>
            {% endif %}
        </div>
        <div class="col-10 align-self-center m-1">
            <img src="{% static seite.picture %}" alt="Bild fuer Seite {{seite.seitenzahl}}" class="img-fluid" style="object-fit: contain; max-height: calc(100vh - 12rem); width: auto; height: auto;" />
        </div>
        <div class="col-1 align-self-center">
            {% if seite.seitenzahl < buch.seiten.count %}
                <a class="btn btn-primary" href="{% url 'endnutzer:seite_aufnehmen' buch.id seite.seitenzahl|add:'1' sprache.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="2 2 12 12">
                        <use xlink:href="#bi-forward-fill" />
                    </svg>
                </a>
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            {% for page in buch.seiten.all %}
                {% if page.seitenzahl < seite.seitenzahl %}
                    <a href="{% url 'endnutzer:seite_aufnehmen' buch.id page.seitenzahl sprache.id %}" 
                                class='m-1 {% if page.seitenzahl not in aufgenommene_seitenzahlen %}un{% endif %}recordedPage'>{{page.seitenzahl}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 text-center ">
            <button class="btn btn-primary" id='btnRecord'>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                    <use xlink:href="#bi-mic-fill" />
                </svg>
            </button>
            <button class="btn btn-dark" id='btnStopRecord'>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                    <use xlink:href="#bi-stop-circle-fill" />
                </svg>
            </button>
            <button class="btn btn-outline-dark" id='btnPlay'>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                    <use xlink:href="#bi-play-circle-fill" />
                </svg>
            </button>
            {% csrf_token %}
            <audio id='audio' {% if aufnahme %}src='{% static aufnahme.audio %}'{% endif %}>

            </audio>
        </div>
        
        <div class="col-md-4">
            {% for page in buch.seiten.all %}
                {% if page.seitenzahl > seite.seitenzahl %}
                    <a href="{% url 'endnutzer:seite_aufnehmen' buch.id page.seitenzahl sprache.id %}" 
                        class='m-1 {% if page.seitenzahl not in aufgenommene_seitenzahlen %}un{% endif %}recordedPage'>{{page.seitenzahl}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}