{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <style>         
        .flag {
            border: solid 1px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/seite_abspielen.js' %}"></script>
{% endblock %}


{% block content %}
    <div><h1>Abspielen von {{seite.book.title}} Seite {{seite.seitenzahl}}:</h1></div>

    <!-- Test Comment -->

    <div class='row'>
        <div class='col-1'>
            {% if seite.seitenzahl > 1 %}
                <a href="{% url 'endnutzer:seite_abspielen' seite.book.id seite.seitenzahl|add:'-1' aufnahme.language.id aufnahme.recorded_by.id %}">Zurueck</a>
            {% else %}
                {% comment "else" %}
                    Do we want to show a greyed out page back symbol on first page? Or just leave it empty?
                {% endcomment %}
            {% endif %}
        </div>
        <div class='col-10'>
            <img src="{% static seite.picture %}" alt="Bild fuer Seite {{seite.seitenzahl}}" class='img-fluid'/>
        </div>
        <div class='col-1'>
            {% if seite.seitenzahl < seite.book.seiten.count %}
                <a href="{% url 'endnutzer:seite_abspielen' seite.book.id seite.seitenzahl|add:'1' aufnahme.language.id aufnahme.recorded_by.id %}">Vorwaerts</a>
            {% else %}
                {% comment "else" %}
                    Do we want to show a greyed out page forward symbol on last page? Or just leave it empty?
                {% endcomment %}
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <button id='btnPlay'>Abspielen</button>
            <audio id='audio' src='{% static aufnahme.audio %}'>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock content %}