{% extends 'betreiber/layout.html' %}

{% block script %}

{% endblock %}


{% block content %}
    <h1>Index</h1>
    {% if error %}
        <div class='alert alert-danger'>
            {{ error }}
        </div>
    {% endif %}
    <table>
        {% for betreiber in users %}
            <tr>
                <td>{{betreiber.id}}
                <td>{{betreiber.username}}</td>
                <td>{{betreiber.first_name}}</td>
                <td>{{betreiber.last_name}}</td>
                <td>{{betreiber.email}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}