{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
{% endblock %}


{% block content %}
    <h1>Benutzer kicken - Sicherheitsabfrage</h1>
    User {{target}} wirklich rausschmeissen? Alle Sprachaufnahmen des Benutzers werden dabei unwiderruflich gelöscht werden.

    <form action="" method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class='btn btn-primary'>User Loeschen</button>
        <a href="{% url 'endnutzer:benutzerliste' %}" class='btn btn-primary'>Abbrechen</a>
    </form>
    
{% endblock %}