{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
{% endblock %}


{% block content %}
    <h1>Mandantenprofil</h1>
    <div>
        <form method='POST'>
            {% csrf_token %}
        {{form.as_p}}

        <div id="promoteAdmin">
            <h6>Neuen Mandantenadmin befördern</h6>
            <select name='newAdmin' id='selectPromoteAdmin'>
                {% for member in members %}
                    <option value='{{member.id}}' {% if user == member %}selected='selected'{% endif %}>
                        {{member.username}}{% if user == member %}(Admin){% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Speichern</button>
        </form>
    </div>
    <br>
    <div>
        <a href="{% url 'endnutzer:mandant_loeschen' %}" class='btn btn-primary'> 
            {% if user.mandant.deletion %}
                Mandant löschen/Löschung abbrechen
            {% else %}
                Mandant löschen
            {% endif %}
        </a>
    </div>
    
{% endblock %}