{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
{% endblock %}


{% block content %}
    <h1>Benutzer dieses Mandanten</h1>
    <div>
        <a href="{% url 'endnutzer:einladung' %}">Neuen Benutzer einladen</a>
    </div>

    <div>
        <table>
            <thead>
                <th>User</th>
                <th>E-Mail</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Aufnahmen</th>
                <th>Löschen</th>
            </thead>
            {% for entry in users %}
                <tr>
                    <td>{{entry.username}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.first_name}}</td>
                    <td>{{entry.last_name}}</td>
                    <td>{{entry.aufnahmen_count}}</td>
                    <td>
                        {% if  entry.is_mandantenadmin %}
                            (Admin)
                        {% else %}
                            <a href="{% url 'endnutzer:kick_user' entry.id %}">Loeschen</a>
                        {% endif %}
                    </td>                   
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}