{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt Bilderbuch - Endnutzer</title>

    <!-- Bootstrap -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'endnutzer/css/custom_end.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    {% block script %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <nav style='border: solid;'>
        
        <div>
            <a href="{% url 'endnutzer:index'%}">Index</a>
        </div>
        <div>
            {% if user.is_mandantenadmin %}
                <a href="{% url 'endnutzer:benutzerliste' %}">Benutzerliste</a>
                <a href="{% url 'endnutzer:mandantenprofil' %}">Mandant bearbeiten</a>
                <a href="{% url 'endnutzer:alle_aufnahmen' %}">Sprachaufnahmen</a>
                <a href="{% url 'endnutzer:buch_aktivieren' %}">Buch freischalten</a>  
            {% endif %}
        </div>
        
        <a href="{% url 'endnutzer:logout'%}">Ausloggen</a>
    </nav>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %}'>
                {{ message }}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR and form.errors %}
                    {% for key, value in form.errors.items %}
                        {{value}}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    
</body>
</html>