{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
{% endblock %}


{% block content %}
    <h1>Userprofil</h1>
    <div>
        <form method='POST'>
            {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Speichern</button>
        </form>
    </div>
    <br>
    <div>
        <a href="{% url 'endnutzer:account_loeschen' %}" class='btn btn-danger'> 
            {% if user.mandant.deletion %}
                Konto löschen/Löschung abbrechen
            {% else %}
                Konto löschen
            {% endif %}
        </a>
        <a href="{% url 'endnutzer:passwort_aendern' %}" class='btn btn-primary'> 
            Passwort ändern
        </a>
    </div>
    
{% endblock %}