{% extends 'endnutzer/layout.html' %}
{% load static %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'endnutzer/registration.js' %}"></script>
{% endblock %}


{% block content %}
    <h1>Neues Benutzerkonto erstellen</h1>
    <div>
        Willkommen bei Projekt Bilderbuch. Sie wurden eingeladen, dem Mandanten "{{ mandant.name }}" beizutreten.

        Wenn Sie diese Einladung annehmen möchten, erstellen Sie sich einfach über folgendes Formular ein Benutzerkonto:
    </div>

    <div>
        <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" id='btnSubmit'>Konto erstellen</button>
        </form>
    </div>
{% endblock %}